body {
    background-color: #C4C4C4;
}

nav {
    background-color: black;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

nav a {
    display: block;
    padding: 1em;
    background: darkcyan;
    color: whitesmoke;
    text-decoration: none;
}

nav > ul > li {
    position: relative;
    border-right: solid 1px black;
}
nav > ul > li > a {
    min-width: 10ch;
}

.table{
    border-collapse: collapse;
}

.table td, .table th {
    border: solid 1px black;
}

.table th {
    background-color:burlywood;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}