<div class="navbar">
    <nav>
        <ul>
            {% for route, message in navbar_links() %}
            <li><a href="{{ path(route) }}">{{ message | trans({}, 'main') }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>